{% extends 'base.html' %} {% block content %}
<h1>Matomo</h1>
<form method="POST">
  {% csrf_token %}
  <p>
    <input type="text" placeholder="Date" name="date" />
  </p>
  <p>
    <select name="color">
      <option value="noColor">No Color</option>
      <option value="browserName">Browser</option>
      <option value="city">City</option>
    </select>
  </p>
  <button type="submit">Plot</button>
</form>
<h2>Fetch Data from Matomo</h2>
<h3>Number of Unique Visitors per Day</h3>
<div>{{graph|safe}}</div>
<br />
<pre>{{data|pprint}}</pre>
<h2>Fetch Data from Django Postgres</h2>
<h2>Merge and Plot Data from Django Postgres + Matomo</h2>
{% endblock %}
